[submodule "readout_decoder"]
	path = readout_decoder
	url = https://github.com/NevisNeutrinos/readout_decoder.git
[submodule "networking"]
	path = networking
	url = https://github.com/NevisNeutrinos/networking.git
